{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

{% block content %}
<form method="post" action="{% url 'login' %}" class="container mt-5" style="padding-top: 150px;">
    {% csrf_token %}
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h4>Iniciar Sesión</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="alert alert-danger mt-2">
                        {% for error in form.username.errors %}
                            <p class="mb-0">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="alert alert-danger mt-2">
                        {% for error in form.password.errors %}
                            <p class="mb-0">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </div>
    </div>
</form>
{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="text-center mt-3">
    <a href="{% url 'register' %}" class="btn btn-secondary">Registrar nuevo usuario</a>
</div>
{% endblock %}

