
{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

{% block content %}

<form method="post" action="{% url 'register' %}" class="container mt-5" style="padding-top: 150px;">
    {% csrf_token %}
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h4>Registro de Usuario</h4>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="alert alert-danger mt-2">
                            {% for error in form.username.errors %}
                                <p class="mb-0">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="alert alert-danger mt-2">
                            {% for error in form.email.errors %}
                                <p class="mb-0">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="alert alert-danger mt-2">
                            {% for error in form.password1.errors %}
                                <p class="mb-0">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="alert alert-danger mt-2">
                            {% for error in form.password2.errors %}
                                <p class="mb-0">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </div>
</form>
{% endblock %}
